# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
